<form id="lti_form" action="<%=@launch_params[:launch_url]%>" method="post">
  <% @launch_params[:signed_params].each do |k, v| %>
      <input name="<%=k%>" value="<%=v%>" type="hidden" />
  <% end %>
</form>
<script>document.getElementById('lti_form').submit();</script>
