<div class="container">
  <form class="form-signin">
    <h1 class="form-signin-heading">LTI Test Provider</h1>
    <br />
    <h4><%= link_to "Configure LTI 1 Provider", xml_builder_url %></h4>
    <br />
    <h4>LTI 2 Config</h4>
    <p>Paste this url into your tool consumer to register this tool:</p>
    <p><input type="text" onClick="this.select()" class="form-control" value="<%= tool_registration_url %>" /></p>
  </form>
</div>