body {
  background-color: #eee;
  padding: 0 50px 20px;
}
.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 40px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table {
  background: white;
}

table thead th {
  background-color: #595959;
  color: #fff;
  padding: 2px 4px;
}

table td {
  padding: 5px;
  max-width: 500px;
  word-wrap: break-word;
}

.checkbox-col {
  width: 5em;
}

.add-remove-col {
  width: 3em;
}

.add-icon {
  color: #00b500;
}

.remove-icon {
  color: red;
}

.love-icon {
  color: #FF69B4;
}

code.xml {
  font-size: 10px;
}

@media only screen and (min-width : 992px) {
  code.xml {
    font-size: 10px;
  }
}

@media only screen and (min-width : 768px) {
  code.xml {
    font-size: 9px;
  }
}
